{% extends "index.html" %}
{% load static %}

{% block title %}
Chat
{% endblock %}

{% block content %}
{% endblock %}

{% block chats %}
<!-- add a counter  -->
<div class="grid-x grid-padding-x">
    <div id="chatrooms" class="large-6 medium-6 cell">
        <div class="secondary callout">
            {% if user.is_authenticated %}
            <h5 class="text-center">What chat room would you like to enter?</h5>
            <input id="room-name-input" type="text" size="100"/><br/>
            <input id="room-name-submit" type="button" value="Enter"/>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
{{block.super}}
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
        // window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock %}
