{% extends "index.html" %}
{% load static %}

{% block title %}
Chat
{% endblock %}

{% block content %}
{% endblock %}

{% block chats %}
<!-- add a counter  -->

<div class="grid-x grid-padding-x">
    <div id="chatrooms" class="large-6 medium-6 cell">
        <div class="secondary callout">
            {% if user.is_authenticated %}
            <h4 class="text-center">What chat room would you like to enter?</h4>
            <h5 class="text-center">(or create a new one)</h5>
            <form action="/chat/" method="post">
                {% csrf_token %}
                {{chatform}}
                <input type="submit" class="button" value="Submit Chatroom " name=submit_chat>
            </form>
            {% endif %}
        </div>
    </div>
</div>

<h4 id="header"> Previous Chatrooms </h4>
<div id="mychats" class="align-center-middle">
    <span v-if="chatrooms.length == 0">
    <p class="align-center">No chatrooms have been made</p>
    </span>
    <span v-else>
    <ul style="list-style-type: none;">
        <li v-for="chatitem in chatrooms">
        {% verbatim %}
        <a class="button" v-bind:href="'/chat/'+ chatitem.name +'/'"> {{ chatitem.name }} </a>
        {% endverbatim %}
        
        </li>
    </ul style="list-style-type: none;">
</span>
</div>
{% endblock %}


{% block scripts %}
{{block.super}}
{% endblock %}
