{% load static %}

<!DOCTYPE htlml>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Hello{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}">
  <link rel="stylesheet" href="{% static "css/app.css" %}">
  <!--page specific css-->
  <!-- {% block css %} -->
  <!--{% endblock %}-->
</head>

<body>

  <!-- body of code we put into the website -->

  <!-- Navigation -->
  
  {% block login %}
  {% endblock %}

  {% block chats%}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block submissions %}
  {% endblock %}

  {% block submit %}
  {% endblock %}
  
  
  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/vendor/what-input.js" %}"></script>
  <script src="{% static "js/vendor/foundation.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- development version, includes helpful console warnings --->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="{% static "js/myvue.js" %}"></script>
  <!--inherits code-->
  {% block scripts %}
  {% endblock %}
</body>

</html>
