<!doctype html>
{% extends "base.html" %}
{% load static %}



{% block login %}
<div class="top-bar">
    <div class="top-bar-right">
        <ul class="menu">
            {% if user.is_authenticated %}
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li><a href="/login/">Log In</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="/groups/" class="button">Groups</a></li>
        </ul>
    </div>
</div>

{% endblock %}

{% block content %}

{{ welcome }}

<ul>
    {% for events in eventu_list %}
    <li> {{events}}</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
<form action="/" method="post">
    {% csrf_token %}
    {{form_eventu}}
    <input type="submit" class="button" value="Submit Event">
</form>
{% endif %}

<div id="app">
    {{message}}
</div>


<!-- One way
    <div id="cal">
    <v-app id="inspire">
        <v-sheet height="500">
            <v-calendar
            type="month"
            now="2019-01-08"
            value="2019-01-08"
            :events="events"
            ></v-calendar>
        </v-sheet>
    </v-app>
</div> -->

<!-- Another way 
    <vue-cal :time="false" hide-weekends></vue-cal>
<vue-cal style="height: 250px"></vue-cal>
<vue-cal :time="false" show-week-numbers :hide-weekdays="[2, 3, 5]">
<vue-cal :time-from="8 * 60" :time-to="19 * 60" :time-step="30"></vue-cal>
</vue-cal> -->
{% endblock %}


{% block chat %}
What chat room would you like to enter?<br/>
<input id="room-name-input" type="text" size="100"/><br/>
<input id="room-name-submit" type="button" value="Enter"/>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock %}


{% block scripts %}

<script src="{% static "js/myvue.js" %}"></script>
<!-- development version, includes helpful console warnings --->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-cal"></script>
<link href="https://unpkg.com/vue-cal/dist/vuecal.css" rel="stylesheet">

{% endblock %}
