{% extends "index.html" %}
{% load static %}

{% block title %}
Add New Events + Tasks
{% endblock %}



{% block content %}

{% if user.is_authenticated %}
<div class= "center">
    <div id="addevent" class="large-6 medium-6 cell">
        <div class="callout secondary">
            <form action="/new_events_tasks/" method="post">
                <h4 class="text-center">Event</h4>
                {% csrf_token %}
                {{form_eventu}}
                <input type="submit" class="button" value="Submit Event" name=submit_eventu>
            </form>
            <br>
            </p>
            {% if messages %}
                {% for message in messages %}
                    Error:{{message}}
                {% endfor %}
            {% endif %}
            </p>
        </div>
    </div>
        
    <div id="addtask" class="large-6 medium-6 cell">
        <div class="callout secondary">
            <form action="/new_events_tasks/" method="post">
                <h4 class="text-center">Task</h4>
                {% csrf_token %}
                {{form_tasku}}
                <input type="submit" class="button" value="Submit Task" name=submit_tasku>
            </form>
            <br>
            </p>
            {% if messages %}
                {% for message in messages %}
                    Error:{{message}}
                {% endfor %}
            {% endif %}
            </p>
            </div>
        </div>
    </div>
</div>

{% endif %} <!-- if is_authenticated -->
{% endblock %}

{% block back %}
<div id="go_back">
    <a class="button expanded" href="/">Back to Calendar</a>
</div>
{% endblock %}

{% block scripts %}
{{block.super}}
{% endblock %}
