.top-bar, .top-bar ul {
    background-color: #333333;
}

.top-bar-left a {
    color: #D25757;
}

.top-bar-right a {
    color: #D25757;
}
.menu-text {
    padding: 0.7rem 1rem;
}

.text-center {
    padding: 20px;
}